<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="readFileInfoPath1" value="E:\Developments\File Sync Service Demo\Test_Input"/>
    <add key="logPath" value="E:\Developments\File Sync Service Demo\Logs"/>
    <add key="testInputPath" value="E:\Developments\File Sync Service Demo\Test_Input"/>
    <add key="testInput1Path" value="E:\Developments\File Sync Service Demo\Test_Input1"/>
    <add key="outputPath" value="E:\Developments\File Sync Service Demo\Test_output"/>
    <add key="output1Path" value="E:\Developments\File Sync Service Demo\Test_output1"/>
    <!--<add key="removeUser" value="VSTAGE\Domain Users"/>-->
    <add key="removeUser" value="Masud_Ranar-359\Usertest"/>
    <!--<add key="userTest" value="Masud_Ranar-359\Usertest"/>-->
  </appSettings>
</configuration>